asgiref
channels
Django
djangorestframework
gTTS
Markdown
mediapipe
numpy
opencv_contrib_python
opencv_python
protobuf
pydantic
pydub
PyPDF2
python_docx
Requests
sounddevice
SpeechRecognition
torch
google-genai
google
docx
faster_whisper
transformers
scikit-learn
pandas
django-cors-headers
channels
channels-redis