# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# OS junk
.DS_Store
Thumbs.db

# DLLs and heavy binaries
*.dll
*.lib
*.pyd

# Audio/outputs
*.wav
*.mp3
*.mp4
/public/audios/

# Secrets
.env
config.py

# Ignore virtual environments
venv/
**/venv/
